@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&display=swap');
/*
Syncopate font -- font weight: 400, 700
*/

@font-face {
    font-family: 'Montreal-Bold';
    src: url('/css/PPNeueMontreal-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'Montreal-Medium';
    src: url('/css/PPNeueMontreal-Medium.otf') format('opentype');
}

@font-face {
    font-family: 'Montreal';
    src: url('/css/PPNeueMontreal-Book.otf') format('opentype');
}



* {
    font-family: 'Montreal';
}

:root {
    --mainColor: #223344;
}

#buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.btn {
    width: fit-content;
    text-align: center;
    padding: 20px 60px;
    box-sizing: border-box;

    cursor: pointer;
    position: relative;

    .btn-text {
        font-family: 'Montreal-Medium';
        font-size: 15px;
        text-transform: uppercase;
        z-index: 1;
        position: relative;
        transition: 0.2s;
    }

    .btn-background {
        position: absolute;
        top: 0;
        left: 0;

        width: 0%;
        height: 100%;
        transition: 0.3s;
        z-index: 0;
    }
}

.btn:hover {
    .btn-background {
        width: 100%;
    }
}

.btn-light {
    border: 2px solid var(--mainColor);

    .btn-text {
        color: var(--mainColor);
    }

    .btn-background {
        background-color: var(--mainColor);
    }
}

.btn-light:hover {
    .btn-text {
        color: white
    }
}


.btn-dark {
    background-color: var(--mainColor);
    border: 2px solid white;

    .btn-text {
        color: white;
    }

    .btn-background {
        background-color: white;
    }
}

.btn-dark:hover {
    .btn-text {
        color: var(--mainColor);
    }
}



.logo-large {
    font-size: 50px;
}

.logo-small {
    font-size: 30px;
}

.logo {
    font-family: 'Syncopate';
    font-weight: 400;
}

.title {
    font-family: 'Montreal-Medium';
    font-size: 40px;
    text-transform: uppercase;
}

.desc {
    
    font-family: 'Montreal';
    font-size: 20px;
    text-transform: uppercase;
}

.desc-bold {
    font-family: 'Montreal-Medium';
}

.text-white {
    color: white;
}