@import url('/css/common.css');

#content {
    display: flex;
    flex-direction: row;
    width: 500vw;

    overflow-x: hidden;
    scroll-snap-type: x mandatory; /* Optional: Enables snap-to-section scrolling */
    transition: 0.7s;
}

.pricing-section-container {
    width: 100vw;
    flex: 0 0 100vw;             /* Each child takes up 100% of the viewport width */

}

#sc-1 {
    min-height: calc(100dvh - 90px);

    #section-1 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 20px;

        max-width: 1000px;
        

        .s1-pricing-item {
            color: var(--mainColor);
            box-sizing: border-box;
            padding: 20px 20px;
            padding-top: 40px;
            width: 33%;
            border: 2px solid var(--mainColor);

            .s1-pricing-title {
                font-family: 'Syncopate';
                font-weight: 700;
                font-size: 20px;
            }

            .s1-pricing-desc {
                margin-top: 30px;
            }

            .s1-pricing-checks {
                margin-top: 30px;
                .s1-pricing-check-item {
                    margin-top: 5px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 15px;
                    box-sizing: border-box;
                    padding-left: 10px;

                    .s1-pricing-check-img {
                        width: 15px;
                        height: 15px;
                    }
                }
            }


            .s1-pricing-button {
                margin-top: 30px;
                width: 100%;
                padding-left: 0;
                padding-right: 0;

                border: 2px solid var(--mainColor);

            }
        }

        #s1-leo-item {
            position: relative;
            padding-top: calc(40px + 30px);
            #s1-leo-banner {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                background-color: var(--mainColor);
                height: 30px;
                text-align: center;
                align-content: center;

                color: white;
                font-size: 12px;
            }
        }
    }
}

#sc-o {
    visibility: hidden;
}

#sc-2, #sc-o, #sc-3 {

    #section-2, #section-o, #section-3 {
        color: var(--mainColor);

        .section-title {
            font-family: 'Syncopate';
            font-weight: 400;
            font-size: 25px;
        }

        .section-subtitle {

            cursor: pointer;

            #s2-subtitle-content, #so-subtitle-content, #s3-subtitle-content {
                font-family: 'Syncopate';
                font-weight: 700;
                font-size: 15px;
            }

            #s2-type-change,#so-type-change, #s3-type-change {
                cursor: pointer;
                font-family: 'Montreal';
            }

        }

        #s2-subtitle:hover,  #so-subtitle:hover, #s3-subtitle:hover {
            #s2-type-change, #so-type-change {
                text-decoration: underline;
            }
        }

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        gap: 20px;
    
        max-width: 800px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;

        #s2-mass-container, #so-orbit-container {
            margin-top: 50px;
            width: 100%;
            .s-subcontainer {
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                gap: 10px;
                margin-top: 10px;

                .s-item {
                    width: 100%;
                    border: 2px solid var(--mainColor);
                    text-align: center;
                    align-content: center;
                    padding-top: 50px;
                    padding-bottom: 50px;
                    .btn-text {
                        font-size: 15px;
                        span {
                            font-family: 'Montreal-Bold';
                            padding-right: 10px;
                        }
                    }
                }
            }
        }

        #s3-priority-container {
            margin-top: 50px;
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 10px;

            .btn {
                border: 2px solid var(--mainColor);

                .btn-text {
                    font-family: 'Montreal';

    
                    span {
                        font-family: 'Montreal-Medium';
                        font-size: 17px;
                    }
                }

            }
        }
    }

}


#sc-4 {
    display: grid;
    place-items: center;

    #section-4 {
        background-color: var(--mainColor);
        color: white;
    
        width: 70%;
        margin-left: auto;
        margin-right: auto;;
        height: fit-content;
    
        display: flex;
        flex-direction: row;
    
        box-sizing: border-box;
        padding: 50px 50px;

        #s4-left {
            width: 40%;
            border-right: 1px solid white;

            .s4-item {
                padding-top: 10px;
                padding-bottom: 10px;
                max-width: 80%;

                .s4-item-title {
                    background-color: white;
                    color: var(--mainColor);
                    padding: 5px 5px;
                    width: fit-content;
                    font-size: 10px;
                    text-transform: uppercase;
                }

                .s4-item-choice {
                    font-size: 17px;
                    margin-top: 5px;
                    text-transform: uppercase;
                    font-family: 'Montreal-Medium';
                }
            }
        }

        #s4-right {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 20px;
            width: 60%;
            box-sizing: border-box;
            padding: 0 50px;

            #s4-title {
                font-size: 20px;
            }

            #s4-cost {
                font-size: 35px;
            }

            .s4-button {
                margin-top: 20px;
            }
        }
    }
}

